
.borde{
    border: 20px solid #c42c2c;
}
.contenedor{
    background-color: black;
    padding: 35px;
}
.contenedor{
    background-color: fuchsia;
    text-align: center;
    color: antiquewhite;
    padding: 35px;
    border-radius: 50px;
    border: 5px solid; color: greenyellow;
}
.contenedor{
    margin-top: 500px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 500px;
    border-radius: 50px;
    background-color: blueviolet;
    padding: 10px;
    width: 35px;
    
}
h1{
    text-align: center;
    color: chartreuse;
    text-decoration: underline overline;
    text-shadow: 25px 25px gainsboro;
}
.caja{
    padding: 25px;
    color: burlywood;
    width: auto;
    height: auto;
    float: left;
    text-align: center;
    font-size: 25px;
}
*h2{
    text-align: center;
    color: cyan;
}
* h1
        {
            color:darkolivegreen;
        }
        p{
            color: #061929;
        }
        h2
        {
            color:#6d4818;
        }
        
        body{
            background-color: rgb(124, 227, 99);
        }
        .contenedor{
            background-color: #608889;
            padding: 35px;
        }
        
      
    </style>
    <body>
        <div class="contenedor">
           <h2>peten y sus tradiciones</h2>
            
        </div>
    </body>
</head>
<body>
   