
.borde{
    border: 200px solid #c42c2c;
}
.contenedor{
    background-color: black;
    padding: 35px;
}
.contenedor{
    background-color: #673567;
    text-align: center;
    color: #765528;
    padding: 35px;
    border-radius: 50px;
    border: 5px solid; color: #5b8914;
    
}
h1{
    text-align: center;
    color: chartreuse;
    text-decoration: underline overline;
    text-shadow: 25px 25px gainsboro;
}
.caja{
    padding: 25px;
    color: burlywood;
    width: auto;
    height: auto;
    float: left;
    text-align: center;
    font-size: 25px;
}
*h2{
    text-align: center;
    color: cyan;
}
*